body{
    background: url(/assets/crew/background-crew-desktop.jpg) no-repeat center;
    background-size: cover;
}



/*```````````````TABLET DESIGN````````````````*/
@media only screen and (max-width : 1000px)  {

body{
    background: url(/assets/crew/background-crew-tablet.jpg)no-repeat center;
    background-size: cover;
}

}



/*```````````````MOBILE DESIGN````````````````*/

@media only screen and (max-width : 600px)  {
    
body{
    background: url(/assets/crew/background-crew-mobile.jpg) no-repeat center;
    background-size: cover;
}

}