body{
    background: url(/assets/crew/background-crew-desktop.jpg) no-repeat center;
    background-size: cover;
}

.crew-heading{
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-thickness: 3px ;
}

.container{
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-inline: min(10rem, 10vw);
    position: absolute;
    bottom: 0;
    overflow: scroll;
}

.main-heading{
    padding-left: min(10rem, 10vw);
    font-size: 1.7rem;
    text-transform: uppercase;
}

.main-heading span{
    font-size: 1.7rem;
    color: var(--second-color);
    padding-right: 0.7rem;
}

.content{
    padding-top: 6rem;
}

.role{
    font-family: var(--second-font);
    font-size: 1.5rem;
    color: var(--second-color);
    text-transform: uppercase;
}

.name{
    font-family: var(--second-font);
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.5rem 0 1rem 0;
}

.bio{
    padding-right: 30%;
    line-height: 1.5rem;
    color: var(--second-color);
}

.dots{ 
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 6vh;
}

.dot1, .dot2, .dot3, .dot4{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: rgb(175, 174, 174);
    cursor: pointer;
}

.crew-img{
    height: 565px;
}

.dot1.active-dot , .dot2.active-dot, .dot3.active-dot, .dot4.active-dot{
    background-color: white;
    height: 1rem;
    width: 1rem;
}

.dots :hover{
    background-color: rgb(97, 96, 96);
}


/*```````````````TABLET DESIGN````````````````*/
@media only screen and (max-width : 1000px)  {

body{
    background: url(/assets/crew/background-crew-tablet.jpg)no-repeat center;
    background-size: cover;
}

.container{
    flex-direction: column;
    justify-content: center;
    padding-inline: 4rem;
    position: static;
}

.content{
    width: 100%;
    text-align: center;
    padding-top: 3rem;
} 

.main-heading{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-left: auto;
}

.main-heading span{
    font-size: 1.2rem;
}

.name{
    font-size: 2.5rem;
}

.bio{
    padding: 0;
    padding-inline: 3rem;
}

.crew-img{
    height: 356px;
}
.crew{
    text-align: center;
}

.dots{
    justify-content: center;
}

}



/*```````````````MOBILE DESIGN````````````````*/

@media only screen and (max-width : 600px)  {
    
body{
    background: url(/assets/crew/background-crew-mobile.jpg) no-repeat center;
    background-size: cover;
}
.main-heading{
    text-align: center;
    padding-left: 0;
    padding-bottom: 1.5rem;
}

.container{
    flex-direction: column-reverse;
    padding-inline: 7vw;
    position: static;
}

.content{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
}
.name{
    font-size: 1.8rem;
}

.bio{
    padding-inline: 0;
    font-size: 1rem;
}
.dots{
    padding-block: 2rem;
}

.crew-img{
    height: 320px;
}

.base-line{
    height: 1px;
    width: 100%;
    background-color: rgb(199, 197, 197);
}

.crew-heading{
    text-decoration: none;
}

}